/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/12/2016, 11:31:31 AM
    Author     : SMARTINEZ
*/

@media (min-width: 200px) { 
    .tituloCurso{
        font-size: 9px;
        color: white !important;
    }
    .fechaCurso{
        font-size: 9px;
    }    
}
@media (min-width: 425px) { 
    .tituloCurso{
        font-size: 11px;
        color: white !important;
    }
    .fechaCurso{
        font-size: 12px;
    }
}

@media (min-width: 768px) { 
    .tituloCurso{
        font-size: 10px;
        color: white;
    }
    .fechaCurso{
        font-size: 10px;
    }     
    .lineaCursos{
        margin-left: -30%;
    }
}

@media (min-width: 1024px) { 
    .tituloCurso{
        font-size: 8px;
        color: white;
    }
    .fechaCurso{
        font-size: 8px;
    }
    .lineaCursos{
        margin-left: -5%;    
    }

}

@media (min-width: 1200px) { 
    .tituloCurso{
        font-size: 13px;
        color: white;
    }
    .fechaCurso{
        font-size: 13px;
    }
    .lineaCursos{
        margin-left: 8%;
    }

}

@media (min-width: 1440px) { 
    .lineaCursos{margin-right: -25%;}
}
@media (min-width: 2000px) {
	    .tituloCurso{
        font-size: 16px;
        color: white;
    }
    .fechaCurso{
        font-size: 16px;
    }
}
@media (min-width: 2560px) {
    .lineaCursos{margin-right: 5%;}
}

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Ubuntu', sans-serif;
}

.barraGuia{
    border-bottom: 2px solid black;
}
.cuadro{
    position: relative;    
    border: 0 !important;
    border-radius: 44px 42px 42px 42px;
    -moz-border-radius: 44px 42px 42px 42px;
    -webkit-border-radius: 44px 42px 42px 42px;
    border: 1px solid #000000;
    padding-left: 0 !important;
    background: #34294f; height: 150px !important;

}
.cuadro:hover{
    border: 0 !important;
    -webkit-box-shadow: 6px 6px 10px 2px rgba(91,72,138,1);
    -moz-box-shadow: 6px 6px 10px 2px rgba(91,72,138,1);
    box-shadow: 6px 6px 10px 2px rgba(91,72,138,1);

}
.imgCurso{
    border: 0 !important;
    padding-left: 0 !important;
    overflow:hidden;
}
.foto{ 
    height: 150px !important;
    border: 0 !important;
    border-radius: 42px 35px 35px 42px;
    -moz-border-radius: 42px 35px 35px 42px;
    -webkit-border-radius: 42px 35px 35px 42px;
}

.fechaCurso{
    color: #a482f6;
}

.btnFlecha{
    padding-top: 15% !important;
    padding-left: 25%!important;
    color: white;
    font-size: 10px;

}
.cursos{
    margin-left: 14%;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #34294f !important;
    border-bottom-color: white;
}

.barra{
    background: white;
    padding: 0 !important;
}  

#badge-ribbon {
    position: relative;
    background: red;
    height: 100px;
    width: 100px;
    -moz-border-radius:    50px;
    -webkit-border-radius: 50px;
    border-radius:         50px;
}

#badge-ribbon:before,
#badge-ribbon:after {
    content: '';
    position: absolute;
    border-bottom: 70px solid red;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    top: 70px;
    left: -10px;
    -webkit-transform: rotate(-140deg);
    -moz-transform:    rotate(-140deg);
    -ms-transform:     rotate(-140deg);
    -o-transform:      rotate(-140deg);
}

#badge-ribbon:after {
    left: auto;
    right: -10px;
    -webkit-transform: rotate(140deg);
    -moz-transform:    rotate(140deg);
    -ms-transform:     rotate(140deg);
    -o-transform:      rotate(140deg);
}
.lineaCursos{
    margin-top: 10%; 
    border-right: 2px solid black !important; 
    height: 25px;
}

/*Pleca de cuadro de curso (status)*/
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#34294F 0%, #A482F6 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #A482F6;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #A482F6;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #A482F6;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #A482F6;
}
/*FIn Pleca de cuadro de curso (status)*/


/*modal servicio social*/
article {
    background-color: rgba(66,66, 66, 0.8);    
    padding:10px;       
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    display:none;
    z-index:1000;
    width: 30%;
    margin-left: 65%;
}
.linkcolor{color: white; font-weight: bold; text-decoration: underline;}
.linkcolor:hover{
    color: white;
    font-weight: bold;
}