body {
    background-color: #da3;
    font-family: sans-serif;
    font-size: 100%;
    margin: 0; padding: 0;
}

a {
    color: #249;
    text-decoration: none;
    outline: none; /* don't outline image links (ff) */
}
a:hover { text-decoration: underline; }
a:visited { color: #649; }

#content {
    width: 960px;
    margin: 10px auto;
    padding: 0;
}

.mainpic {
    float: left;
    margin-right: 20px;
}
.header_title {
    float: left;
    margin: 25px 0 0 0;
    font-weight: bold;
    font-size: 280%;
    color: #333;
}
.header_subtitle {
    clear: left;
    font-style: italic;
    margin: 0 0 10px 0;
    padding: 10px;
}

/*-------------------------------------------*/
/* BEGIN index modules                       */
/*-------------------------------------------*/
.indexmodule {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #edb;
    border-radius: 5px;
}
/* clearfix rolled into indexmodule */
.indexmodule:before { content: " "; display: table; }
.indexmodule:after  { content: " "; display: table; clear: both; }
.indexmodule { *zoom: 1; }

.indexmodule img {
    width: 120px;
    margin-right: 10px;
    border-radius: 5px;
    float: left;
}

.indexmodule p { margin: 5px 0 0 0; clear: right; }
.indexmodule h2 { margin: 0; }
.indexmodule h3 { margin: 0 0 5px 0; }

