 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 body {
     font-family: 'Raleway', sans-serif;
 }
 /*
Sidebar
 ======================================*/
 
 .logo {
     text-align: center;
 }
 
 .logo > img {
     margin: 0 auto;
     padding: 15px 0;
     width: 200px;
     height: 200px;
 }

 .single-content img {
     width: 100px;
     height: 100px;
 }
 
 .col-1 {
     background: #fff none repeat scroll 0 0;
     box-shadow: 0 4px 2px #ddd;
     float: left;
     height: 100vh;
     position: fixed;
     left: 0;
     top: 0;
     width: 280px;
     z-index: 2;
     overflow-y: scroll;
 }
 
 .color-1 {
     /*background: #439E37;*/
     background: #fff;
     border-left: 30px solid;
     border-left-color: #439E37;

 }
 
 .color-1:hover{
     background: #439E37;
     color:white;
 }

 .button:hover{
     cursor: pointer;
 }
 
 .color-2 {
     /*background: #29AAE3;*/
     background: #fff;
     border-left: 30px solid;
     border-left-color: #29AAE3;
 }

 .color-2:hover{
     background: #29AAE3;
     color: #fff;
 }
 
 .color-3 {
     /*background: #662E91;*/
     background: #fff;
     border-left: 30px solid;
     border-left-color: #662E91
 }

 .color-3:hover{
     background: #662E91;
     color: #fff;
 }
 
 .color-4 {
     /*background: #C2272D;*/
     background: #fff;
     border-left: 30px solid;
     border-left-color: #C2272D
 }

 .color-4:hover{
     background: #C2272D;
     color: #fff;
 }
 
 .color-5 {
     /* background: #F15A25; */
     background: #fff;
     border-left: 30px solid;
     border-left-color: #F15A25
 }

 .color-5:hover{
     background: #F15A25;
     color: #fff;
 }
 
 .sidebar-menu li {
     list-style: none;
     padding-left: 20px;
 }
 
 .sidebar-menu li a {
     display: block;
     padding: 20px 0;
     text-decoration: none;

     font-weight: 500;
     font-size: 21px;
 }
 
 .sidebar-menu li a i {
     color: #000;
     margin-right: 10px;

 }
 
 .sidebar-text {
     padding-left: 30px;
     padding-top: 20px;
     padding-right: 30px;
 }
 
 .sidebar-text p {
     font-size: 14px;
     color: #a7a7a7;
     line-height: 1.3;
 }
 
 a {
     text-decoration: none;
 }
 
 .breadcrumb i,
 .breadcrumb a {
     color: #fff;
     margin-right: 5px;
     font-size: 17px;
     font-weight: 400;
 }

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: inherit;
    border-radius: 4px;
}

 
 .breadcrumb {
     padding: 40px 30px;
 }
 /*
Main Content Area
 =========================================*/
 
 header {
     width: 100%;
     height: 100px;
     position: fixed;
     /* background: #662E91; */
     background: #439E37;
     z-index: 1;
 }
  header1 {
     width: 100%;
     height: 100px;
     position: fixed;
     background: #439E37;
     z-index: 1;
 }
   header2 {
     width: 100%;
     height: 100px;
     position: fixed;
     background: #29AAE3;
     z-index: 1;
 }
   header3 {
     width: 100%;
     height: 100px;
     position: fixed;
     background: #662E91;
     z-index: 1;
 }
    header4 {
     width: 100%;
     height: 100px;
     position: fixed;
     background: #C2272D;
     z-index: 1;
 }
    header5 {
     width: 100%;
     height: 100px;
     position: fixed;
     background: #F15A25;
     z-index: 1;
 }

 
 .col-2 {
     width: 100%;
     float: left;
     padding-left: 280px;
 }
 
 .content-area {
     margin-top: 1000px;
     padding-top: 20px;
     width: 100%;
 }
 
 .content-head1 {
     height: 50px;
     background: #439E37;
 }
  .content-head2 {
     height: 50px;
     background: #29AAE3;
 }
  .content-head3 {
     height: 50px;
     background: #662E91;
 }
  .content-head4 {
     height: 50px;
     background: #C2272D;
 }
  .content-head5 {
     height: 50px;
     background: #F15A25;
 }
  .content-head {
     height: 50px;
     background: #662E91;
 }
 
 .single-content {
     float: left;
     text-align: center;
     width: 33.33%;
     margin-bottom: 20px;
     padding: 15px;
 }

 .big-content {
     float: left;
     text-align: center;
     width: 66.66%;
     margin-bottom: 20px;
     padding: 15px;
     height:auto;
 }
 
 .inner-content {
-webkit-box-shadow: 1px 1px 12px 3px rgba(190,190,190,1);
-moz-box-shadow: 1px 1px 12px 3px rgba(190,190,190,1);
box-shadow: 1px 1px 12px 3px rgba(190,190,190,1);
     


     /*border-bottom:1px solid #ddd ;*/
 }
 
 .content-img {
     background: #fff none repeat scroll 0 0;
     border: 1px solid #ddd;
     border-radius: 50%;
     box-shadow: 1px 0 2px #ddd;
     height: 125px;
     margin: -28px auto 10px;
     padding: 17px;
     width: 125px;
 }
 
 .content-info > img {}
 
 .content-text h3 {
     font-size: 20px;
     color: black;
     font-weight: 700;
     line-height: 1.4;
 }
 
 .content-text p {
     color: #A7A7A7;
     font-size: 20px;
     font-weight: 500;
     line-height: 1.4;
     font-family: 'Raleway', sans-serif;
 }
 
 .content-link {
     /* background: #f2f2f2 none repeat scroll 0 0; */
     /* Fondo */
     background: #439E37 none repeat scroll 0 0;
     box-shadow: 1px 1px 1px #ddd;
     height: 45px;
     
 }
 
 .content-link a {
     /* Color de la letra */
     color: #fff;
     line-height: 40px;
     text-decoration: none;
     font-weight: 700;
     font-size: 16px;
     font-family: 'Raleway', sans-serif;
 }
 
 #mmenu.ui-link {
     display: none;
     color: black;
 }
 /*style="color:black"
Responsive CSS
======================================*/
 
 @media only screen and (max-width: 991px) {
     .single-content {
         width: 50%;
     }
 }
 
 @media only screen and (max-width: 800px) {
     .single-content {
         width: 100%;
     }
 }
  
 
 @media only screen and (max-width: 767px) {
     .col-2 {
         padding-left: 0;
         background: #fff;
     }
     
     #mmenu.ui-link {
         display: block;
         color: black;
     }

     .ui-panel {
         width: 16em;
         min-height: 100%;
         max-height: none;
         border-width: 0;
         position: absolute;
         top: 0;
         display: block
     }
     .ui-panel-closed {
         width: 0;
         max-height: 100%;
         overflow: hidden;
         visibility: hidden;
         left: 0;
         clip: rect(1px, 1px, 1px, 1px)
     }
     .ui-panel-fixed {
         position: fixed;
         bottom: -1px;
         padding-bottom: 1px
     }
     .ui-panel-display-reveal {
         z-index: 1
     }
     .ui-panel-display-push {
         z-index: 999
     }
     .ui-panel-display-overlay {
         z-index: 1001
     }
     .ui-panel-inner {
         padding: 0
     }
     .ui-panel-page-container {
         overflow-x: visible
     }
     .ui-panel-page-container-themed .ui-page-active {
         background: 0
     }
     .ui-panel-wrapper {
         position: relative;
         min-height: inherit;
         border: 0;
         overflow-x: hidden;
         z-index: 999
     }
     .ui-panel-fixed-toolbar {
         overflow-x: hidden
     }
     .ui-panel-dismiss {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         height: 100%;
         z-index: 1002;
         display: none
     }
     .ui-panel-dismiss-open {
         display: block
     }
     .ui-panel-animate {
         -webkit-transition: -webkit-transform 300ms ease;
         -webkit-transition-duration: 300ms;
         -moz-transition: -moz-transform 300ms ease;
         transition: transform 300ms ease
     }
     .ui-tabs {
         position: relative;
         padding: .2em
     }
     .ui-panel-animate.ui-panel-page-content-position-left {
         left: 0;
         right: 0;
         -webkit-transform: translate3d(16em, 0, 0);
         -moz-transform: translate3d(16em, 0, 0);
         transform: translate3d(16em, 0, 0)
     }
     .ui-panel-page-content-position-right {
         left: -16em;
         right: 16em
     }
     #mmenu {
         color: #fff;
         left: 15px;
         position: fixed;
         top: 10px;
         z-index: 9999;
     }
     .ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
         display: none;
     }
     .ui-panel-inner {
         padding: 0;
     }
     .sidebar-menu li a {
         padding: 10px 0;
     }
     .ui-panel-dismiss-open.ui-panel-dismiss-position-left {
         left: 17em
     }
 }
