.box-shadow {
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.61);
}

.mensajes {

}

.mensajes .list-group-item {
	border-radius: 0;
	padding: 5px 15px;
}

.mensajes .list-group-item.active,
.mensajes .list-group-item:hover
{
	border-color: #c1c1c1;
	color: #555;
  text-decoration: none;
  background-color: #eaeaea;
}

.mensajes .no-threads {
	height: 100%;
  font-size: 2em;
  padding: 50px;
  text-align: center;
}

.list-threads {
	height: 500px;
  position: relative;
}

.list-threads .nav-tabs {
	position: absolute;
	z-index: 5;
}

.list-threads .list-group {
	bottom: 0;
	margin: 0 20px 0 0;
	overflow-y: auto;
	position: absolute;
	top: 41px;
	z-index: 4;
}

.mensajes .list-group .no-messages {
	display: block;
  font-size: 1.5em;
  padding-top: 15px;
  text-align: center;
}

.thread-mensajes {
	height: 500px;
	position: relative;
}

.thread-mensajes .close {
	position: absolute;
	right: 5px;
	top: 5px;
}

.thread-mensajes .lista-mensajes {
	position: absolute;
	top: 30px;
	bottom: 140px;
	overflow-y: auto;
}

.thread-mensajes .mensaje {
	padding: 10px 15px 10px 0;
}

.thread-mensajes .mensaje.owner {
	background-color: #d8e1e8;
	text-align: right;
	margin-bottom: 2px;
}

.thread-mensajes .mensaje p {
	font-size: 1.1em;
	margin: 0 0 3px;
}

.thread-mensajes .responder-mensaje {
	bottom: 0;
	left: 0;
	padding: 10px 15px;
	position: absolute;
	right: 0;
}

.thread-mensajes .responder-mensaje .btn-block {
	width: auto !important;
}
